---
title: Home
description: Bringing stenography to everyone. Open Steno seeks to bring free software, low-cost hardware, and interactive learning tools to everyone who wants to use steno for their personal or professional pursuits.
---

<section class="hero">
	<div class="text-container">
		<div class="stenoboard">
			{% include steno-layout.html %}
		</div>
		<h2 id="stenoer" class="editable">
	    <noscript>
	      Bringing stenography to everyone.
	    </noscript>
	  </h2>
	  <a href="#" id="replayButton" title="Replay animation">
	  	<span class="fa fa-refresh"></span>
	  </a>

	</div>
</section>

<div class="content home">

	<section>
			<div class="text-container" align="center">
				<h2>What is Open Steno?</h2>
			</div>

		<div class="container flex">

			<div class="text editable">

				{% include items.html section=site.data.open_steno %}

			</div>
			<div class="image">
				<img src="images/dolores.svg" alt="The Open Steno mascot, Dolores." />
			</div>
		</div>
	</section>

	<section>
			<div class="text-container" align="center">
				<h2>What is Stenography?</h2>
			</div>

		<div class="container flex">

			<div class="text editable">

				{% include items.html section=site.data.stenography %}

			</div>
			<div class="image">
				{% include youtubePlayer.html id="62l64Acfidc" %}
			</div>
		</div>
	</section>

	<section>
		<div class="text-container" align="center">
			<h2>Software</h2>
		</div>
		<div class="container flex">
			<div class="text editable">

        {% include items.html section=site.data.software %}

			</div>
			<div class="image">
				<img src="images/plover_screenshot.png" alt="Screenshot of Plover showing the main screen" />
			</div>
		</div>
	</section>

	<section>
		<div class="text-container" align="center">
			<h2>Hardware</h2>
		</div>
		<div class="container flex">
			<div class="text editable">

	      {% include items.html section=site.data.hardware %}

			</div>
			<div class="image">
				<img src="images/stenotoppers.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section>
		<div class="text-container" align="center">
			<h2>Learn</h2>
		</div>
		<div class="container flex">
			<div class="text editable">

	      {% include items.html section=site.data.learn %}

			</div>
			<div class="image">
				<div class="image">
					{% include youtubePlayer.html id="UtQzTUEuPWo" %}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="text-container" align="center">
			<h2>Start Today</h2>
		</div>
		<div class="container flex">
			<div class="text editable center">
				<a href="{{ site.baseurl }}/community" title="Community page" class="button">Get Involved in the Community</a>
				<a href="https://github.com/openstenoproject/plover/wiki/Beginner's-Guide:-Get-Started-with-Plover" title="Plover Wiki guide to getting started with Plover" class="button">Get Started with Plover</a>
			</div>
		</div>
	</section>
</div>
<script src="https://unpkg.com/typer-js"></script><script src="scripts/stenoer.js"></script>