
<div class="steno-layout">
  <div class="row">
    <div class="steno-column">
      <div class="steno-key" id="S-"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="T-"></div>
      <div class="steno-key" id="K-"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="P-"></div>
      <div class="steno-key" id="W-"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="H-"></div>
      <div class="steno-key" id="R-"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="asterisk"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="-F"></div>
      <div class="steno-key" id="-R"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="-P"></div>
      <div class="steno-key" id="-B"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="-L"></div>
      <div class="steno-key" id="-G"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="-T"></div>
      <div class="steno-key" id="-S"></div>
    </div>
    <div class="steno-column">
      <div class="steno-key" id="-D"></div>
      <div class="steno-key" id="-Z"></div>
    </div>
  </div>
  <div class="row">
    <div class="thumb-cluster">
      <div class="steno-column">
        <div class="steno-key" id="A"></div>
      </div>
      <div class="steno-column">
        <div class="steno-key" id="O"></div>
      </div>
      <div class="spacer"></div>
      <div class="steno-column">
        <div class="steno-key" id="E"></div>
      </div>
      <div class="steno-column">
        <div class="steno-key" id="U"></div>
      </div>
    </div>
  </div>
</div>